openapi: 3.0.0
info:
  description: |
    **Misskey is a decentralized microblogging platform.**


    ## Usage
    **APIはすべてPOSTでリクエスト/レスポンスともにJSON形式です。**
    一部のAPIはリクエストに認証情報(APIキー)が必要です。リクエストの際に`i`というパラメータでAPIキーを添付してください。

    ### 自分のアカウントのAPIキーを取得する
    「設定 > API」で、自分のAPIキーを取得できます。

    > アカウントを不正利用される可能性があるため、このトークンは第三者に教えないでください(アプリなどにも入力しないでください)。

    ### アプリケーションとしてAPIキーを取得する
    直接ユーザーのAPIキーをアプリケーションが扱うのはセキュリティ上のリスクがあるので、
    アプリケーションからAPIを利用する際には、アプリケーションとアプリケーションを利用するユーザーが結び付けられた専用のAPIキーを発行します。

    #### 1.アプリケーションを登録する
    まず、あなたのアプリケーションやWebサービス(以後、あなたのアプリと呼びます)をMisskeyに登録します。
    [デベロッパーセンター](/dev)にアクセスし、「アプリ > アプリ作成」からアプリを作成してください。

    登録が済むとあなたのアプリのシークレットキーが入手できます。このシークレットキーは後で使用します。

    > アプリに成りすまされる可能性があるため、極力このシークレットキーは公開しないようにしてください。</p>

    #### 2.ユーザーに認証させる
    アプリを使ってもらうには、ユーザーにアカウントへのアクセスの許可をもらう必要があります。

    認証セッションを開始するには、[https://misskey.kurume-nct.com/api/auth/session/generate](#operation/auth/session/generate) へパラメータに`appSecret`としてシークレットキーを含めたリクエストを送信します。
    レスポンスとして認証セッションのトークンや認証フォームのURLが取得できるので、認証フォームのURLをブラウザで表示し、ユーザーにフォームを提示してください。

    あなたのアプリがコールバックURLを設定している場合、
    ユーザーがあなたのアプリの連携を許可すると設定しているコールバックURLに`token`という名前でセッションのトークンが含まれたクエリを付けてリダイレクトします。

    あなたのアプリがコールバックURLを設定していない場合、ユーザーがあなたのアプリの連携を許可したことを(何らかの方法で(たとえばボタンを押させるなど))確認出来るようにしてください。

    #### 3.アクセストークンを取得する
    ユーザーが連携を許可したら、[https://misskey.kurume-nct.com/api/auth/session/userkey](#operation/auth/session/userkey) へリクエストを送信します。

    上手くいけば、認証したユーザーのアクセストークンがレスポンスとして取得できます。おめでとうございます！

    アクセストークンが取得できたら、*「ユーザーのアクセストークン+あなたのアプリのシークレットキーをsha256したもの」*をAPIキーとして、APIにリクエストできます。

    APIキーの生成方法を擬似コードで表すと次のようになります:
    ``` js
    const i = sha256(userToken + secretKey);
    ```
  title: Misskey API
  version: v1
  x-logo:
    url: /assets/api-doc.png
externalDocs:
  description: Repository
  url: https://github.com/syuilo/misskey
servers:
- url: https://misskey.kurume-nct.com/api
paths:
  /admin/abuse-user-reports:
    post:
      description: |-
        No description provided.

        **Credential required**: *Yes*
      externalDocs:
        description: Source code
        url: https://github.com/syuilo/misskey/blob/develop/src/server/api/endpoints/admin/abuse-user-reports.ts
      operationId: admin/abuse-user-reports
      requestBody:
        $ref: '#/components/requestBodies/inline_object'
        content:
          application/json:
            schema:
              properties:
                limit:
                  default: 10
                  maximum: 100
                  minimum: 1
                  nullable: false
                  type: number
                sinceId:
                  example: xxxxxxxxxxxxxxxxxxxxxxxx
                  format: id
                  nullable: false
                  type: string
                untilId:
                  example: xxxxxxxxxxxxxxxxxxxxxxxx
                  format: id
                  nullable: false
                  type: string
              type: object
        required: true
      responses:
        "204":
          description: OK (without any results)
        "400":
          content:
            application/json:
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
              schema:
                $ref: '#/components/schemas/Error'
          description: Client error
        "401":
          content:
            application/json:
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
              schema:
                $ref: '#/components/schemas/Error'
          description: Authentication error
        "403":
          content:
            application/json:
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is
                        correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbiddon error
        "418":
          content:
            application/json:
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl,
                        instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
              schema:
                $ref: '#/components/schemas/Error'
          description: I'm Ai
        "500":
          content:
            application/json:
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error
                        persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: admin/abuse-user-reports
      tags:
      - admin
  /admin/drive/files:
    post:
      description: |-
        No description provided.

        **Credential required**: *No*
      externalDocs:
        description: Source code
        url: https://github.com/syuilo/misskey/blob/develop/src/server/api/endpoints/admin/drive/files.ts
      operationId: admin/drive/files
      requestBody:
        $ref: '#/components/requestBodies/inline_object_1'
        content:
          application/json:
            schema:
              properties:
                limit:
                  default: 10
                  maximum: 100
                  minimum: 1
                  nullable: false
                  type: number
                offset:
                  nullable: false
                  type: number
                sort:
                  enum:
                  - +createdAt
                  - -createdAt
                  - +size
                  - -size
                  nullable: false
                  type: string
                origin:
                  default: local
                  enum:
                  - combined
                  - local
                  - remote
                  nullable: false
                  type: string
              type: object
        required: true
      responses:
        "204":
          description: OK (without any results)
        "400":
          content:
            application/json:
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
              schema:
                $ref: '#/components/schemas/Error'
          description: Client error
        "401":
          content:
            application/json:
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
              schema:
                $ref: '#/components/schemas/Error'
          description: Authentication error
        "403":
          content:
            application/json:
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is
                        correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbiddon error
        "418":
          content:
            application/json:
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl,
                        instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
              schema:
                $ref: '#/components/schemas/Error'
          description: I'm Ai
        "500":
          content:
            application/json:
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error
                        persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      summary: admin/drive/files
      tags:
      - admin
  /admin/drive/show-file:
    post:
      description: |-
        No description provided.

        **Credential required**: *Yes*
      externalDocs:
        description: Source code
        url: https://github.com/syuilo/misskey/blob/develop/src/server/api/endpoints/admin/drive/show-file.ts
      operationId: admin/drive/show-file
      requestBody:
        $ref: '#/components/requestBodies/inline_object_2'
        content:
          application/json:
            schema:
              properties:
                fileId:
                  example: xxxxxxxxxxxxxxxxxxxxxxxx
                  format: id
                  nullable: false
                  type: string
              required:
              - fileId
              type: object
        required: true
      responses:
        "204":
          description: OK (without any results)
        "400":
          content:
            application/json:
              examples:
                NO_SUCH_FILE:
                  value:
                    error:
                      message: No such file.
                      code: NO_SUCH_FILE
                      id: caf3ca38-c6e5-472e-a30c-b05377dcc240
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
              schema:
                $ref: '#/components/schemas/Error'
          description: Client error
        "401":
          content:
            application/json:
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
              schema:
                $ref: '#/components/schemas/Error'
          description: Authentication error
        "403":
          content:
            application/json:
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is
                        correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbiddon error
        "418":
          content:
            application/json:
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl,
                        instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
              schema:
                $ref: '#/components/schemas/Error'
          description: I'm Ai
        "500":
          content:
            application/json:
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error
                        persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: admin/drive/show-file
      tags:
      - admin
  /admin/emoji/add:
    post:
      description: |-
        カスタム絵文字を追加します。

        **Credential required**: *Yes*
      externalDocs:
        description: Source code
        url: https://github.com/syuilo/misskey/blob/develop/src/server/api/endpoints/admin/emoji/add.ts
      operationId: admin/emoji/add
      requestBody:
        $ref: '#/components/requestBodies/inline_object_3'
        content:
          application/json:
            schema:
              properties:
                name:
                  minLength: 1
                  nullable: false
                  type: string
                url:
                  minLength: 1
                  nullable: false
                  type: string
                aliases:
                  default: []
                  items:
                    minLength: 1
                    nullable: false
                    type: string
                  nullable: false
                  type: array
              required:
              - name
              - url
              type: object
        required: true
      responses:
        "204":
          description: OK (without any results)
        "400":
          content:
            application/json:
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
              schema:
                $ref: '#/components/schemas/Error'
          description: Client error
        "401":
          content:
            application/json:
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
              schema:
                $ref: '#/components/schemas/Error'
          description: Authentication error
        "403":
          content:
            application/json:
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is
                        correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbiddon error
        "418":
          content:
            application/json:
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl,
                        instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
              schema:
                $ref: '#/components/schemas/Error'
          description: I'm Ai
        "500":
          content:
            application/json:
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error
                        persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: admin/emoji/add
      tags:
      - admin
  /admin/emoji/list:
    post:
      description: |-
        カスタム絵文字を取得します。

        **Credential required**: *Yes*
      externalDocs:
        description: Source code
        url: https://github.com/syuilo/misskey/blob/develop/src/server/api/endpoints/admin/emoji/list.ts
      operationId: admin/emoji/list
      requestBody:
        $ref: '#/components/requestBodies/inline_object_4'
        content:
          application/json:
            schema:
              properties:
                host:
                  nullable: true
                  type: string
              type: object
        required: true
      responses:
        "204":
          description: OK (without any results)
        "400":
          content:
            application/json:
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
              schema:
                $ref: '#/components/schemas/Error'
          description: Client error
        "401":
          content:
            application/json:
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
              schema:
                $ref: '#/components/schemas/Error'
          description: Authentication error
        "403":
          content:
            application/json:
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is
                        correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbiddon error
        "418":
          content:
            application/json:
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl,
                        instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
              schema:
                $ref: '#/components/schemas/Error'
          description: I'm Ai
        "500":
          content:
            application/json:
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error
                        persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: admin/emoji/list
      tags:
      - admin
  /admin/emoji/remove:
    post:
      description: |-
        カスタム絵文字を削除します。

        **Credential required**: *Yes*
      externalDocs:
        description: Source code
        url: https://github.com/syuilo/misskey/blob/develop/src/server/api/endpoints/admin/emoji/remove.ts
      operationId: admin/emoji/remove
      requestBody:
        $ref: '#/components/requestBodies/inline_object_5'
        content:
          application/json:
            schema:
              properties:
                id:
                  example: xxxxxxxxxxxxxxxxxxxxxxxx
                  format: id
                  nullable: false
                  type: string
              required:
              - id
              type: object
        required: true
      responses:
        "204":
          description: OK (without any results)
        "400":
          content:
            application/json:
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
              schema:
                $ref: '#/components/schemas/Error'
          description: Client error
        "401":
          content:
            application/json:
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
              schema:
                $ref: '#/components/schemas/Error'
          description: Authentication error
        "403":
          content:
            application/json:
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is
                        correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbiddon error
        "418":
          content:
            application/json:
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl,
                        instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
              schema:
                $ref: '#/components/schemas/Error'
          description: I'm Ai
        "500":
          content:
            application/json:
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error
                        persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: admin/emoji/remove
      tags:
      - admin
  /admin/emoji/update:
    post:
      description: |-
        カスタム絵文字を更新します。

        **Credential required**: *Yes*
      externalDocs:
        description: Source code
        url: https://github.com/syuilo/misskey/blob/develop/src/server/api/endpoints/admin/emoji/update.ts
      operationId: admin/emoji/update
      requestBody:
        $ref: '#/components/requestBodies/inline_object_6'
        content:
          application/json:
            schema:
              properties:
                id:
                  example: xxxxxxxxxxxxxxxxxxxxxxxx
                  format: id
                  nullable: false
                  type: string
                name:
                  nullable: false
                  type: string
                url:
                  nullable: false
                  type: string
                aliases:
                  items:
                    nullable: false
                    type: string
                  nullable: false
                  type: array
              required:
              - aliases
              - id
              - name
              - url
              type: object
        required: true
      responses:
        "204":
          description: OK (without any results)
        "400":
          content:
            application/json:
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
              schema:
                $ref: '#/components/schemas/Error'
          description: Client error
        "401":
          content:
            application/json:
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
              schema:
                $ref: '#/components/schemas/Error'
          description: Authentication error
        "403":
          content:
            application/json:
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is
                        correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbiddon error
        "418":
          content:
            application/json:
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl,
                        instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
              schema:
                $ref: '#/components/schemas/Error'
          description: I'm Ai
        "500":
          content:
            application/json:
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error
                        persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: admin/emoji/update
      tags:
      - admin
  /admin/federation/remove-all-following:
    post:
      description: |-
        No description provided.

        **Credential required**: *Yes*
      externalDocs:
        description: Source code
        url: https://github.com/syuilo/misskey/blob/develop/src/server/api/endpoints/admin/federation/remove-all-following.ts
      operationId: admin/federation/remove-all-following
      requestBody:
        $ref: '#/components/requestBodies/inline_object_7'
        content:
          application/json:
            schema:
              properties:
                host:
                  nullable: false
                  type: string
              required:
              - host
              type: object
        required: true
      responses:
        "204":
          description: OK (without any results)
        "400":
          content:
            application/json:
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
              schema:
                $ref: '#/components/schemas/Error'
          description: Client error
        "401":
          content:
            application/json:
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
              schema:
                $ref: '#/components/schemas/Error'
          description: Authentication error
        "403":
          content:
            application/json:
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is
                        correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbiddon error
        "418":
          content:
            application/json:
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl,
                        instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
              schema:
                $ref: '#/components/schemas/Error'
          description: I'm Ai
        "500":
          content:
            application/json:
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error
                        persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: admin/federation/remove-all-following
      tags:
      - admin
  /admin/federation/update-instance:
    post:
      description: |-
        No description provided.

        **Credential required**: *Yes*
      externalDocs:
        description: Source code
        url: https://github.com/syuilo/misskey/blob/develop/src/server/api/endpoints/admin/federation/update-instance.ts
      operationId: admin/federation/update-instance
      requestBody:
        $ref: '#/components/requestBodies/inline_object_8'
        content:
          application/json:
            schema:
              properties:
                host:
                  nullable: false
                  type: string
                isBlocked:
                  nullable: false
                  type: boolean
                isClosed:
                  nullable: false
                  type: boolean
              required:
              - host
              - isBlocked
              - isClosed
              type: object
        required: true
      responses:
        "204":
          description: OK (without any results)
        "400":
          content:
            application/json:
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
              schema:
                $ref: '#/components/schemas/Error'
          description: Client error
        "401":
          content:
            application/json:
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
              schema:
                $ref: '#/components/schemas/Error'
          description: Authentication error
        "403":
          content:
            application/json:
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is
                        correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbiddon error
        "418":
          content:
            application/json:
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl,
                        instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
              schema:
                $ref: '#/components/schemas/Error'
          description: I'm Ai
        "500":
          content:
            application/json:
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error
                        persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: admin/federation/update-instance
      tags:
      - admin
  /admin/invite:
    post:
      description: |-
        招待コードを発行します。

        **Credential required**: *Yes*
      externalDocs:
        description: Source code
        url: https://github.com/syuilo/misskey/blob/develop/src/server/api/endpoints/admin/invite.ts
      operationId: admin/invite
      requestBody:
        content:
          application/json:
            schema:
              properties: {}
              type: object
        required: true
      responses:
        "204":
          description: OK (without any results)
        "400":
          content:
            application/json:
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
              schema:
                $ref: '#/components/schemas/Error'
          description: Client error
        "401":
          content:
            application/json:
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
              schema:
                $ref: '#/components/schemas/Error'
          description: Authentication error
        "403":
          content:
            application/json:
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is
                        correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbiddon error
        "418":
          content:
            application/json:
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl,
                        instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
              schema:
                $ref: '#/components/schemas/Error'
          description: I'm Ai
        "500":
          content:
            application/json:
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error
                        persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: admin/invite
      tags:
      - admin
  /admin/logs:
    post:
      description: |-
        No description provided.

        **Credential required**: *Yes*
      externalDocs:
        description: Source code
        url: https://github.com/syuilo/misskey/blob/develop/src/server/api/endpoints/admin/logs.ts
      operationId: admin/logs
      requestBody:
        $ref: '#/components/requestBodies/inline_object_9'
        content:
          application/json:
            schema:
              properties:
                limit:
                  default: 30
                  maximum: 100
                  minimum: 1
                  nullable: false
                  type: number
                level:
                  nullable: true
                  type: string
                domain:
                  nullable: true
                  type: string
              type: object
        required: true
      responses:
        "204":
          description: OK (without any results)
        "400":
          content:
            application/json:
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
              schema:
                $ref: '#/components/schemas/Error'
          description: Client error
        "401":
          content:
            application/json:
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
              schema:
                $ref: '#/components/schemas/Error'
          description: Authentication error
        "403":
          content:
            application/json:
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is
                        correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbiddon error
        "418":
          content:
            application/json:
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl,
                        instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
              schema:
                $ref: '#/components/schemas/Error'
          description: I'm Ai
        "500":
          content:
            application/json:
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error
                        persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: admin/logs
      tags:
      - admin
  /admin/moderators/add:
    post:
      description: |-
        指定したユーザーをモデレーターにします。

        **Credential required**: *Yes*
      externalDocs:
        description: Source code
        url: https://github.com/syuilo/misskey/blob/develop/src/server/api/endpoints/admin/moderators/add.ts
      operationId: admin/moderators/add
      requestBody:
        $ref: '#/components/requestBodies/inline_object_10'
        content:
          application/json:
            schema:
              properties:
                userId:
                  description: 対象のユーザーID
                  example: xxxxxxxxxxxxxxxxxxxxxxxx
                  format: id
                  nullable: false
                  type: string
              required:
              - userId
              type: object
        required: true
      responses:
        "204":
          description: OK (without any results)
        "400":
          content:
            application/json:
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
              schema:
                $ref: '#/components/schemas/Error'
          description: Client error
        "401":
          content:
            application/json:
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
              schema:
                $ref: '#/components/schemas/Error'
          description: Authentication error
        "403":
          content:
            application/json:
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is
                        correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbiddon error
        "418":
          content:
            application/json:
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl,
                        instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
              schema:
                $ref: '#/components/schemas/Error'
          description: I'm Ai
        "500":
          content:
            application/json:
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error
                        persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: admin/moderators/add
      tags:
      - admin
  /admin/moderators/remove:
    post:
      description: |-
        指定したユーザーをモデレーター解除します。

        **Credential required**: *Yes*
      externalDocs:
        description: Source code
        url: https://github.com/syuilo/misskey/blob/develop/src/server/api/endpoints/admin/moderators/remove.ts
      operationId: admin/moderators/remove
      requestBody:
        $ref: '#/components/requestBodies/inline_object_11'
        content:
          application/json:
            schema:
              properties:
                userId:
                  description: 対象のユーザーID
                  example: xxxxxxxxxxxxxxxxxxxxxxxx
                  format: id
                  nullable: false
                  type: string
              required:
              - userId
              type: object
        required: true
      responses:
        "204":
          description: OK (without any results)
        "400":
          content:
            application/json:
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
              schema:
                $ref: '#/components/schemas/Error'
          description: Client error
        "401":
          content:
            application/json:
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
              schema:
                $ref: '#/components/schemas/Error'
          description: Authentication error
        "403":
          content:
            application/json:
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is
                        correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbiddon error
        "418":
          content:
            application/json:
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl,
                        instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
              schema:
                $ref: '#/components/schemas/Error'
          description: I'm Ai
        "500":
          content:
            application/json:
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error
                        persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: admin/moderators/remove
      tags:
      - admin
  /admin/queue/clear:
    post:
      description: |-
        No description provided.

        **Credential required**: *Yes*
      externalDocs:
        description: Source code
        url: https://github.com/syuilo/misskey/blob/develop/src/server/api/endpoints/admin/queue/clear.ts
      operationId: admin/queue/clear
      requestBody:
        content:
          application/json:
            schema:
              properties: {}
              type: object
        required: true
      responses:
        "204":
          description: OK (without any results)
        "400":
          content:
            application/json:
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
              schema:
                $ref: '#/components/schemas/Error'
          description: Client error
        "401":
          content:
            application/json:
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
              schema:
                $ref: '#/components/schemas/Error'
          description: Authentication error
        "403":
          content:
            application/json:
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is
                        correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbiddon error
        "418":
          content:
            application/json:
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl,
                        instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
              schema:
                $ref: '#/components/schemas/Error'
          description: I'm Ai
        "500":
          content:
            application/json:
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error
                        persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: admin/queue/clear
      tags:
      - admin
  /admin/queue/jobs:
    post:
      description: |-
        No description provided.

        **Credential required**: *Yes*
      externalDocs:
        description: Source code
        url: https://github.com/syuilo/misskey/blob/develop/src/server/api/endpoints/admin/queue/jobs.ts
      operationId: admin/queue/jobs
      requestBody:
        $ref: '#/components/requestBodies/inline_object_12'
        content:
          application/json:
            schema:
              properties:
                domain:
                  nullable: false
                  type: string
                state:
                  nullable: false
                  type: string
                limit:
                  default: 50
                  nullable: false
                  type: number
              required:
              - domain
              - state
              type: object
        required: true
      responses:
        "204":
          description: OK (without any results)
        "400":
          content:
            application/json:
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
              schema:
                $ref: '#/components/schemas/Error'
          description: Client error
        "401":
          content:
            application/json:
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
              schema:
                $ref: '#/components/schemas/Error'
          description: Authentication error
        "403":
          content:
            application/json:
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is
                        correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbiddon error
        "418":
          content:
            application/json:
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl,
                        instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
              schema:
                $ref: '#/components/schemas/Error'
          description: I'm Ai
        "500":
          content:
            application/json:
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error
                        persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: admin/queue/jobs
      tags:
      - admin
  /admin/queue/stats:
    post:
      description: |-
        No description provided.

        **Credential required**: *Yes*
      externalDocs:
        description: Source code
        url: https://github.com/syuilo/misskey/blob/develop/src/server/api/endpoints/admin/queue/stats.ts
      operationId: admin/queue/stats
      requestBody:
        content:
          application/json:
            schema:
              properties: {}
              type: object
        required: true
      responses:
        "204":
          description: OK (without any results)
        "400":
          content:
            application/json:
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
              schema:
                $ref: '#/components/schemas/Error'
          description: Client error
        "401":
          content:
            application/json:
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
              schema:
                $ref: '#/components/schemas/Error'
          description: Authentication error
        "403":
          content:
            application/json:
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is
                        correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbiddon error
        "418":
          content:
            application/json:
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl,
                        instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
              schema:
                $ref: '#/components/schemas/Error'
          description: I'm Ai
        "500":
          content:
            application/json:
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error
                        persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: admin/queue/stats
      tags:
      - admin
  /admin/remove-abuse-user-report:
    post:
      description: |-
        No description provided.

        **Credential required**: *Yes*
      externalDocs:
        description: Source code
        url: https://github.com/syuilo/misskey/blob/develop/src/server/api/endpoints/admin/remove-abuse-user-report.ts
      operationId: admin/remove-abuse-user-report
      requestBody:
        $ref: '#/components/requestBodies/inline_object_13'
        content:
          application/json:
            schema:
              properties:
                reportId:
                  example: xxxxxxxxxxxxxxxxxxxxxxxx
                  format: id
                  nullable: false
                  type: string
              required:
              - reportId
              type: object
        required: true
      responses:
        "204":
          description: OK (without any results)
        "400":
          content:
            application/json:
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
              schema:
                $ref: '#/components/schemas/Error'
          description: Client error
        "401":
          content:
            application/json:
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
              schema:
                $ref: '#/components/schemas/Error'
          description: Authentication error
        "403":
          content:
            application/json:
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is
                        correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbiddon error
        "418":
          content:
            application/json:
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl,
                        instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
              schema:
                $ref: '#/components/schemas/Error'
          description: I'm Ai
        "500":
          content:
            application/json:
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error
                        persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: admin/remove-abuse-user-report
      tags:
      - admin
  /admin/reset-password:
    post:
      description: |-
        指定したユーザーのパスワードをリセットします。

        **Credential required**: *Yes*
      externalDocs:
        description: Source code
        url: https://github.com/syuilo/misskey/blob/develop/src/server/api/endpoints/admin/reset-password.ts
      operationId: admin/reset-password
      requestBody:
        $ref: '#/components/requestBodies/inline_object_14'
        content:
          application/json:
            schema:
              properties:
                userId:
                  description: 対象のユーザーID
                  example: xxxxxxxxxxxxxxxxxxxxxxxx
                  format: id
                  nullable: false
                  type: string
              required:
              - userId
              type: object
        required: true
      responses:
        "204":
          description: OK (without any results)
        "400":
          content:
            application/json:
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
              schema:
                $ref: '#/components/schemas/Error'
          description: Client error
        "401":
          content:
            application/json:
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
              schema:
                $ref: '#/components/schemas/Error'
          description: Authentication error
        "403":
          content:
            application/json:
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is
                        correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbiddon error
        "418":
          content:
            application/json:
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl,
                        instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
              schema:
                $ref: '#/components/schemas/Error'
          description: I'm Ai
        "500":
          content:
            application/json:
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error
                        persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: admin/reset-password
      tags:
      - admin
  /admin/show-user:
    post:
      description: |-
        指定したユーザーの情報を取得します。

        **Credential required**: *Yes*
      externalDocs:
        description: Source code
        url: https://github.com/syuilo/misskey/blob/develop/src/server/api/endpoints/admin/show-user.ts
      operationId: admin/show-user
      requestBody:
        $ref: '#/components/requestBodies/inline_object_15'
        content:
          application/json:
            schema:
              properties:
                userId:
                  description: 対象のユーザーID
                  example: xxxxxxxxxxxxxxxxxxxxxxxx
                  format: id
                  nullable: false
                  type: string
              required:
              - userId
              type: object
        required: true
      responses:
        "204":
          description: OK (without any results)
        "400":
          content:
            application/json:
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
              schema:
                $ref: '#/components/schemas/Error'
          description: Client error
        "401":
          content:
            application/json:
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
              schema:
                $ref: '#/components/schemas/Error'
          description: Authentication error
        "403":
          content:
            application/json:
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is
                        correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbiddon error
        "418":
          content:
            application/json:
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl,
                        instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
              schema:
                $ref: '#/components/schemas/Error'
          description: I'm Ai
        "500":
          content:
            application/json:
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error
                        persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: admin/show-user
      tags:
      - admin
  /admin/show-users:
    post:
      description: |-
        No description provided.

        **Credential required**: *Yes*
      externalDocs:
        description: Source code
        url: https://github.com/syuilo/misskey/blob/develop/src/server/api/endpoints/admin/show-users.ts
      operationId: admin/show-users
      requestBody:
        $ref: '#/components/requestBodies/inline_object_16'
        content:
          application/json:
            schema:
              properties:
                limit:
                  default: 10
                  maximum: 100
                  minimum: 1
                  nullable: false
                  type: number
                offset:
                  nullable: false
                  type: number
                sort:
                  enum:
                  - +follower
                  - -follower
                  - +createdAt
                  - -createdAt
                  - +updatedAt
                  - -updatedAt
                  nullable: false
                  type: string
                state:
                  default: all
                  enum:
                  - all
                  - admin
                  - moderator
                  - adminOrModerator
                  - verified
                  - silenced
                  - suspended
                  nullable: false
                  type: string
                origin:
                  default: local
                  enum:
                  - combined
                  - local
                  - remote
                  nullable: false
                  type: string
              type: object
        required: true
      responses:
        "204":
          description: OK (without any results)
        "400":
          content:
            application/json:
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
              schema:
                $ref: '#/components/schemas/Error'
          description: Client error
        "401":
          content:
            application/json:
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
              schema:
                $ref: '#/components/schemas/Error'
          description: Authentication error
        "403":
          content:
            application/json:
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is
                        correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbiddon error
        "418":
          content:
            application/json:
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl,
                        instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
              schema:
                $ref: '#/components/schemas/Error'
          description: I'm Ai
        "500":
          content:
            application/json:
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error
                        persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: admin/show-users
      tags:
      - admin
  /admin/silence-user:
    post:
      description: |-
        指定したユーザーをサイレンスにします。

        **Credential required**: *Yes*
      externalDocs:
        description: Source code
        url: https://github.com/syuilo/misskey/blob/develop/src/server/api/endpoints/admin/silence-user.ts
      operationId: admin/silence-user
      requestBody:
        $ref: '#/components/requestBodies/inline_object_17'
        content:
          application/json:
            schema:
              properties:
                userId:
                  description: 対象のユーザーID
                  example: xxxxxxxxxxxxxxxxxxxxxxxx
                  format: id
                  nullable: false
                  type: string
              required:
              - userId
              type: object
        required: true
      responses:
        "204":
          description: OK (without any results)
        "400":
          content:
            application/json:
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
              schema:
                $ref: '#/components/schemas/Error'
          description: Client error
        "401":
          content:
            application/json:
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
              schema:
                $ref: '#/components/schemas/Error'
          description: Authentication error
        "403":
          content:
            application/json:
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is
                        correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbiddon error
        "418":
          content:
            application/json:
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl,
                        instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
              schema:
                $ref: '#/components/schemas/Error'
          description: I'm Ai
        "500":
          content:
            application/json:
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error
                        persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: admin/silence-user
      tags:
      - admin
  /admin/suspend-user:
    post:
      description: |-
        指定したユーザーを凍結します。

        **Credential required**: *Yes*
      externalDocs:
        description: Source code
        url: https://github.com/syuilo/misskey/blob/develop/src/server/api/endpoints/admin/suspend-user.ts
      operationId: admin/suspend-user
      requestBody:
        $ref: '#/components/requestBodies/inline_object_18'
        content:
          application/json:
            schema:
              properties:
                userId:
                  description: 対象のユーザーID
                  example: xxxxxxxxxxxxxxxxxxxxxxxx
                  format: id
                  nullable: false
                  type: string
              required:
              - userId
              type: object
        required: true
      responses:
        "204":
          description: OK (without any results)
        "400":
          content:
            application/json:
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
              schema:
                $ref: '#/components/schemas/Error'
          description: Client error
        "401":
          content:
            application/json:
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
              schema:
                $ref: '#/components/schemas/Error'
          description: Authentication error
        "403":
          content:
            application/json:
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is
                        correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbiddon error
        "418":
          content:
            application/json:
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl,
                        instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
              schema:
                $ref: '#/components/schemas/Error'
          description: I'm Ai
        "500":
          content:
            application/json:
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error
                        persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: admin/suspend-user
      tags:
      - admin
  /admin/unsilence-user:
    post:
      description: |-
        指定したユーザーのサイレンスを解除します。

        **Credential required**: *Yes*
      externalDocs:
        description: Source code
        url: https://github.com/syuilo/misskey/blob/develop/src/server/api/endpoints/admin/unsilence-user.ts
      operationId: admin/unsilence-user
      requestBody:
        $ref: '#/components/requestBodies/inline_object_19'
        content:
          application/json:
            schema:
              properties:
                userId:
                  description: 対象のユーザーID
                  example: xxxxxxxxxxxxxxxxxxxxxxxx
                  format: id
                  nullable: false
                  type: string
              required:
              - userId
              type: object
        required: true
      responses:
        "204":
          description: OK (without any results)
        "400":
          content:
            application/json:
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
              schema:
                $ref: '#/components/schemas/Error'
          description: Client error
        "401":
          content:
            application/json:
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
              schema:
                $ref: '#/components/schemas/Error'
          description: Authentication error
        "403":
          content:
            application/json:
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is
                        correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbiddon error
        "418":
          content:
            application/json:
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl,
                        instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
              schema:
                $ref: '#/components/schemas/Error'
          description: I'm Ai
        "500":
          content:
            application/json:
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error
                        persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: admin/unsilence-user
      tags:
      - admin
  /admin/unsuspend-user:
    post:
      description: |-
        指定したユーザーの凍結を解除します。

        **Credential required**: *Yes*
      externalDocs:
        description: Source code
        url: https://github.com/syuilo/misskey/blob/develop/src/server/api/endpoints/admin/unsuspend-user.ts
      operationId: admin/unsuspend-user
      requestBody:
        $ref: '#/components/requestBodies/inline_object_20'
        content:
          application/json:
            schema:
              properties:
                userId:
                  description: 対象のユーザーID
                  example: xxxxxxxxxxxxxxxxxxxxxxxx
                  format: id
                  nullable: false
                  type: string
              required:
              - userId
              type: object
        required: true
      responses:
        "204":
          description: OK (without any results)
        "400":
          content:
            application/json:
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
              schema:
                $ref: '#/components/schemas/Error'
          description: Client error
        "401":
          content:
            application/json:
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
              schema:
                $ref: '#/components/schemas/Error'
          description: Authentication error
        "403":
          content:
            application/json:
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is
                        correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbiddon error
        "418":
          content:
            application/json:
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl,
                        instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
              schema:
                $ref: '#/components/schemas/Error'
          description: I'm Ai
        "500":
          content:
            application/json:
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error
                        persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: admin/unsuspend-user
      tags:
      - admin
  /admin/unverify-user:
    post:
      description: |-
        指定したユーザーの公式アカウントを解除します。

        **Credential required**: *Yes*
      externalDocs:
        description: Source code
        url: https://github.com/syuilo/misskey/blob/develop/src/server/api/endpoints/admin/unverify-user.ts
      operationId: admin/unverify-user
      requestBody:
        $ref: '#/components/requestBodies/inline_object_21'
        content:
          application/json:
            schema:
              properties:
                userId:
                  description: 対象のユーザーID
                  example: xxxxxxxxxxxxxxxxxxxxxxxx
                  format: id
                  nullable: false
                  type: string
              required:
              - userId
              type: object
        required: true
      responses:
        "204":
          description: OK (without any results)
        "400":
          content:
            application/json:
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
              schema:
                $ref: '#/components/schemas/Error'
          description: Client error
        "401":
          content:
            application/json:
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
              schema:
                $ref: '#/components/schemas/Error'
          description: Authentication error
        "403":
          content:
            application/json:
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is
                        correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbiddon error
        "418":
          content:
            application/json:
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl,
                        instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
              schema:
                $ref: '#/components/schemas/Error'
          description: I'm Ai
        "500":
          content:
            application/json:
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error
                        persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: admin/unverify-user
      tags:
      - admin
  /admin/update-meta:
    post:
      description: |-
        インスタンスの設定を更新します。

        **Credential required**: *Yes*
      externalDocs:
        description: Source code
        url: https://github.com/syuilo/misskey/blob/develop/src/server/api/endpoints/admin/update-meta.ts
      operationId: admin/update-meta
      requestBody:
        $ref: '#/components/requestBodies/inline_object_22'
        content:
          application/json:
            schema:
              properties:
                announcements:
                  description: お知らせ
                  items:
                    nullable: false
                    properties: {}
                    type: object
                  nullable: true
                  type: array
                disableRegistration:
                  description: 招待制か否か
                  nullable: true
                  type: boolean
                disableLocalTimeline:
                  description: ローカルタイムライン(とソーシャルタイムライン)を無効にするか否か
                  nullable: true
                  type: boolean
                disableGlobalTimeline:
                  description: グローバルタイムラインを無効にするか否か
                  nullable: true
                  type: boolean
                protectLocalOnlyNotes:
                  description: 公開範囲がローカルのみの投稿をActivityPub経由以外からも保護するか否か
                  nullable: true
                  type: boolean
                enableEmojiReaction:
                  description: 絵文字リアクションを有効にするか否か
                  nullable: true
                  type: boolean
                useStarForReactionFallback:
                  description: 不明なリアクションのフォールバックに star リアクションを使うか
                  nullable: true
                  type: boolean
                hidedTags:
                  description: 統計などで無視するハッシュタグ
                  items:
                    nullable: false
                    type: string
                  nullable: true
                  type: array
                mascotImageUrl:
                  description: インスタンスキャラクター画像のURL
                  nullable: true
                  type: string
                bannerUrl:
                  description: インスタンスのバナー画像URL
                  nullable: true
                  type: string
                errorImageUrl:
                  description: インスタンスのエラー画像URL
                  nullable: true
                  type: string
                iconUrl:
                  description: インスタンスのアイコンURL
                  nullable: true
                  type: string
                name:
                  description: インスタンス名
                  nullable: true
                  type: string
                description:
                  description: インスタンスの紹介文
                  nullable: true
                  type: string
                maxNoteTextLength:
                  description: 投稿の最大文字数
                  nullable: false
                  type: number
                localDriveCapacityMb:
                  description: ローカルユーザーひとりあたりのドライブ容量 (メガバイト単位)
                  nullable: false
                  type: number
                remoteDriveCapacityMb:
                  description: リモートユーザーひとりあたりのドライブ容量 (メガバイト単位)
                  nullable: false
                  type: number
                cacheRemoteFiles:
                  description: リモートのファイルをキャッシュするか否か
                  nullable: false
                  type: boolean
                enableRecaptcha:
                  description: reCAPTCHAを使用するか否か
                  nullable: false
                  type: boolean
                recaptchaSiteKey:
                  description: reCAPTCHA site key
                  nullable: true
                  type: string
                recaptchaSecretKey:
                  description: reCAPTCHA secret key
                  nullable: true
                  type: string
                proxyAccount:
                  description: プロキシアカウントのユーザー名
                  nullable: true
                  type: string
                maintainerName:
                  description: インスタンスの管理者名
                  nullable: false
                  type: string
                maintainerEmail:
                  description: インスタンス管理者の連絡先メールアドレス
                  nullable: true
                  type: string
                langs:
                  description: インスタンスの対象言語
                  items:
                    nullable: false
                    type: string
                  nullable: false
                  type: array
                summalyProxy:
                  description: summalyプロキシURL
                  nullable: true
                  type: string
                enableTwitterIntegration:
                  description: Twitter連携機能を有効にするか否か
                  nullable: false
                  type: boolean
                twitterConsumerKey:
                  description: TwitterアプリのConsumer key
                  nullable: true
                  type: string
                twitterConsumerSecret:
                  description: TwitterアプリのConsumer secret
                  nullable: true
                  type: string
                enableGithubIntegration:
                  description: GitHub連携機能を有効にするか否か
                  nullable: false
                  type: boolean
                githubClientId:
                  description: GitHubアプリのClient ID
                  nullable: true
                  type: string
                githubClientSecret:
                  description: GitHubアプリのClient Secret
                  nullable: true
                  type: string
                enableDiscordIntegration:
                  description: Discord連携機能を有効にするか否か
                  nullable: false
                  type: boolean
                discordClientId:
                  description: DiscordアプリのClient ID
                  nullable: true
                  type: string
                discordClientSecret:
                  description: DiscordアプリのClient Secret
                  nullable: true
                  type: string
                enableExternalUserRecommendation:
                  description: 外部ユーザーレコメンデーションを有効にする
                  nullable: false
                  type: boolean
                externalUserRecommendationEngine:
                  description: 外部ユーザーレコメンデーションのサードパーティエンジン
                  nullable: true
                  type: string
                externalUserRecommendationTimeout:
                  description: 外部ユーザーレコメンデーションのタイムアウト (ミリ秒)
                  nullable: true
                  type: number
                enableEmail:
                  description: メール配信を有効にするか否か
                  nullable: false
                  type: boolean
                email:
                  description: メール配信する際に利用するメールアドレス
                  nullable: true
                  type: string
                smtpSecure:
                  description: SMTPサーバがSSLを使用しているか否か
                  nullable: false
                  type: boolean
                smtpHost:
                  description: SMTPサーバのホスト
                  nullable: true
                  type: string
                smtpPort:
                  description: SMTPサーバのポート
                  nullable: true
                  type: number
                smtpUser:
                  description: SMTPサーバのユーザー名
                  nullable: true
                  type: string
                smtpPass:
                  description: SMTPサーバのパスワード
                  nullable: true
                  type: string
                enableServiceWorker:
                  description: ServiceWorkerを有効にするか否か
                  nullable: false
                  type: boolean
                swPublicKey:
                  description: ServiceWorkerのVAPIDキーペアの公開鍵
                  nullable: true
                  type: string
                swPrivateKey:
                  description: ServiceWorkerのVAPIDキーペアの秘密鍵
                  nullable: true
                  type: string
              type: object
        required: true
      responses:
        "204":
          description: OK (without any results)
        "400":
          content:
            application/json:
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
              schema:
                $ref: '#/components/schemas/Error'
          description: Client error
        "401":
          content:
            application/json:
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
              schema:
                $ref: '#/components/schemas/Error'
          description: Authentication error
        "403":
          content:
            application/json:
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is
                        correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbiddon error
        "418":
          content:
            application/json:
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl,
                        instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
              schema:
                $ref: '#/components/schemas/Error'
          description: I'm Ai
        "500":
          content:
            application/json:
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error
                        persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: admin/update-meta
      tags:
      - admin
  /admin/update-remote-user:
    post:
      description: |-
        指定されたリモートユーザーの情報を更新します。

        **Credential required**: *Yes*
      externalDocs:
        description: Source code
        url: https://github.com/syuilo/misskey/blob/develop/src/server/api/endpoints/admin/update-remote-user.ts
      operationId: admin/update-remote-user
      requestBody:
        $ref: '#/components/requestBodies/inline_object_23'
        content:
          application/json:
            schema:
              properties:
                userId:
                  description: 対象のユーザーID
                  example: xxxxxxxxxxxxxxxxxxxxxxxx
                  format: id
                  nullable: false
                  type: string
              required:
              - userId
              type: object
        required: true
      responses:
        "204":
          description: OK (without any results)
        "400":
          content:
[...]
